@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
span{
    color: #ffb222;
}

.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;   
}
.link-btn{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: linear-gradient(90deg, rgb(255, 100, 100), rgb(255, 157, 71));
    padding: 10px 40px;
    border-radius: 5px;

}
.top-banner{
    background-image: url('/images/top-banner.png');
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url('/images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url('/images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    display: flex;
}
.item-left{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}
.item-right{
    width: 50%;
  margin-right: 5%;
  padding: 2%;
}
.orange-color{
    color: orange;
}
footer{
    text-align: center;
}



.developement{
    background: url('/images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}

.develope-item{
    display: flex;
  }
  
  
  .dev-left {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border-left: 8px solid tomato;
  }
  
  .dev-right{
    width: 50%;
    margin-right: 5%;
    padding: 2%;
    border-left: 8px solid tomato;
  }
  
  .develope-item div {
      height: 80%;
      box-shadow: 5px 7px 40px gray;
  }
  
  .dev-left h2, .dev-right h2 {
    font-size: 30px;
  }
  
  .dev-left h3, .dev-right h3{
    color:#ff4800e0;
  }
  
  .dev-left p, .dev-right p {
    text-align: justify;
  }