@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
span{
    color: #ffb222;
}

.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;   
}
.link-btn{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background: linear-gradient(90deg, rgb(255, 100, 100), rgb(255, 157, 71));
    padding: 10px 40px;
    border-radius: 5px;

}
.top-banner{
    background-image: url('/images/top-banner.png');
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url('/images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}